.message {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 60%;
}
.message-left {
  margin-right: 30%;
}

.message-right {
  margin-left: 30%;
}
